name: Build API and APP

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build-api:
    name: Build API
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up pnpm
      uses: pnpm/action-setup@v3
      with:
        version: 10

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        working-directory: ./api
        node-version: 24
        cache: 'pnpm'

    - name: Install dependencies
      working-directory: ./api
      run: pnpm install

    - name: Build API
      working-directory: ./api
      run: pnpm build

  build-app:
    name: Build App
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up pnpm
      uses: pnpm/action-setup@v3
      with:
        version: 10

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        working-directory: ./app
        node-version: 24
        cache: 'pnpm'

    - name: Install dependencies
      working-directory: ./app
      run: pnpm install

    - name: Build App
      working-directory: ./app
      run: pnpm build
